<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row" style="page-break-after: always;">
        <p>
            Ótimas noticias, finalizamos o processo de admissão do(A), <b>{{nome}}</b>, e estará conosco dia <b>{{dataAdmissaoPrevista}}</b>. As 9h estará com o time de IN fazendo seu onboarding, logo depois será liberado para iniciar suas atividades.
        </p>
    </div>




  </div>
</body>
</html>
