<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row" style="page-break-after: always;">
        <p>
            Ol치, <b>{{gestorNome}}</b> O(a) <b>{{nome}}</b> j치 est치 ativo com a gente e o seu contrato j치 foi enviado para assinatura.
        </p>
    </div>




  </div>
</body>
</html>
